@page "/Autor/Delete/{id:int}"
@model gestion_bibliotecaria.Pages.AutorDeleteModel
@{
    ViewData["Title"] = "Eliminar Autor";
}

<h1>Eliminar Autor</h1>

<div class="alert alert-danger">
    <strong>¿Estás seguro que deseas eliminar este autor?</strong>
</div>

<div class="mb-3">
    <p><strong>Nombres:</strong> @Model.Autor.Nombres</p>
    <p><strong>Apellidos:</strong> @Model.Autor.Apellidos</p>
    <p><strong>Nacionalidad:</strong> @Model.Autor.Nacionalidad</p>
</div>

<form method="post">

    <input type="hidden" asp-for="Autor.AutorId" />

    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="/Autor" class="btn btn-secondary">Cancelar</a>

</form>