@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de Privacidad";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/Privacy.css" />
}

<div class="privacy-container">

    <div class="page-header">

        <div class="titulo-logo">
            <img src="~/assets/icons/privacy_tip_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg"
                    class="icono-header">
                <h1>Politica de Privacidad</h1>
        </div>

    </div>

    <div class="privacy-card">

        <p>
            En <strong>StarBook Library</strong> respetamos la privacidad de nuestros usuarios
            y nos comprometemos a proteger la informacion almacenada dentro del sistema
            de gestion bibliotecaria.
        </p>

        <p>
            La informacion registrada en el sistema es utilizada unicamente para fines
            administrativos dentro de la biblioteca, tales como la gestion de libros,
            ejemplares y autores.
        </p>

        <p>
            No compartimos informacion personal con terceros y mantenemos practicas
            de seguridad para proteger los datos almacenados en la plataforma.
        </p>

        <p>
            Este sistema ha sido desarrollado con fines academicos y administrativos,
            garantizando el uso responsable de la informacion gestionada.
        </p>

    </div>

</div>