.autor-delete-container{
    padding:30px 20px;
}

/* HEADER */

.page-header{
    display:flex;
    align-items:center;
    margin-bottom:25px;
}

.titulo-logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.page-header h1{
    font-size:28px;
    font-weight:600;
    color:#e5e7eb;
}

.icono-header{
    width:26px;
    filter:brightness(0) invert(1);
}

/* CARD */

.delete-card{
    background:#171717;
    padding:30px;
    border-radius:12px;
    border:1px solid #282828;
    box-shadow:0 6px 16px rgba(0,0,0,0.35);
    max-width:550px;
}

/* WARNING */

.warning-box{
    background:#ef444433;
    border:1px solid #ef4444;
    padding:12px;
    border-radius:8px;
    color:#ef4444;
    margin-bottom:20px;
}

/* INFO AUTOR */

.autor-info{
    margin-bottom:25px;
}

.autor-info p{
    margin-bottom:8px;
    color:#9ca3af;
}

.autor-info strong{
    color:#e5e7eb;
}

/* BOTONES */

.acciones{
    display:flex;
    gap:10px;
}

/* ELIMINAR */

.btn-eliminar{
    background:#ef4444;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:8px;
    cursor:pointer;
    font-weight:500;
    transition:.25s;
}

.btn-eliminar:hover{
    background:#dc2626;
}

/* CANCELAR */

.btn-cancelar{
    background:#374151;
    color:#e5e7eb;
    padding:10px 16px;
    border-radius:8px;
    text-decoration:none;
}

.btn-cancelar:hover{
    background:#4b5563;
}