.autores-container{
    padding:30px 20px;
}

/* HEADER */

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.titulo-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.page-header h1 {
    font-size: 28px;
    font-weight: 600;
    color: #e5e7eb;
}
/* BOTON NUEVO */

.btn-nuevo{
    background:#10a37f;
    color:white;
    padding:10px 18px;
    border-radius:8px;
    text-decoration:none;
    font-weight:500;
    display:flex;
    align-items:center;
    gap:6px;
    transition:all .25s ease;
}

.btn-nuevo:hover{
    background:#19c37d;
    transform:translateY(-2px);
}

/* ICONOS BOTONES */

.icono-btn{
    width:18px;
    filter:brightness(0) invert(1);
}

/* TABLA CONTENEDOR */

.tabla-container{
    background:#171717;
    padding:25px;
    border-radius:12px;
    border:1px solid #282828;
    box-shadow:0 6px 16px rgba(0,0,0,0.35);
}

/* TABLA */

.tabla-autores{
    width:100%;
    border-collapse:collapse;
}

/* HEADER TABLA */

.tabla-autores th{
    background:#282828;
    color:#e5e7eb;
    padding:12px;
    text-align:left;
    font-weight:600;
}

/* ICONO HEADER */

.icono-header{
    width:18px;
    margin-right:6px;
    filter:brightness(0) invert(1);
}

/* BUSQUEDA symbol ORDENAMIENTO*/

.filtros-barra {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
    align-items: center;
}

.filtro-item {
    display: flex;
}

.filtro-buscar {
    flex: 1;
}

.input-filtro {
    width: 100%;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #2d2d2d;
    background: #282828;
    color: #fff;
    font-size: 14px;
}

    .input-filtro:focus {
        outline: none;
        border-color: #10b981;
    }

/* CELDAS */

.tabla-autores td{
    padding:12px;
    border-bottom:1px solid #282828;
    color:#e5e7eb;
}

/* HOVER FILA */

.tabla-autores tr:hover{
    background:#1b1c1d;
}

/* ESTADO */

.estado{
    padding:4px 10px;
    border-radius:6px;
    font-size:12px;
    font-weight:500;
}

/* ACTIVO */

.activo{
    background:#10a37f33;
    color:#10a37f;
}

/* INACTIVO */

.inactivo{
    background:#374151;
    color:#9ca3af;
}

/* BOTONES ACCIONES */

.acciones{
    display:flex;
    gap:8px;
}

/* EDITAR */

.btn-editar{
    background:#f59e0b;
    color:white;
    padding:6px 10px;
    border-radius:6px;
    text-decoration:none;
    font-size:13px;
    display:flex;
    align-items:center;
    gap:4px;
    transition:.2s;
}

.btn-editar:hover{
    background:#fbbf24;
}

/* ELIMINAR */

.btn-eliminar{
    background:#ef4444;
    color:white;
    padding:6px 10px;
    border-radius:6px;
    text-decoration:none;
    font-size:13px;
    display:flex;
    align-items:center;
    gap:4px;
    transition:.2s;
}

.btn-eliminar:hover{
    background:#dc2626;
}