html {
    font-size:14px;
}

@media (min-width:768px){
    html{
        font-size:16px;
    }
}

/* MODO OSCURO GENERAL */

body{
    background:#141414;
    color:#e5e7eb;
}

/* NAVBAR */

.navbar{
    background:#282828;
    border-bottom:1px solid #1e293b;
    padding:12px 0;
}

/* LOGO */

.navbar-brand img{
    filter:brightness(1.1);
}

/* BOTONES DEL NAVBAR */

.nav-btn{
    padding:8px 16px;
    border-radius:8px;
    transition:all .25s ease;
    color:#cbd5f5 !important;
    font-weight:500;
}

/* ICONOS */

.nav-link img{
    filter:brightness(0) invert(1);
}

/* HOVER ESTILO CHATGPT */

.nav-btn:hover{
    background:#00A67E;
    color:white !important;
    transform:translateY(-2px);
}

.nav-btn:hover img{
    filter:brightness(0) invert(1);
}

/* NAVBAR TOGGLER MOBILE */

.navbar-toggler{
    border:1px solid #1e293b;
    background:#020617;
}

/* TARJETAS */

.tabla-container,
.privacy-card,
.error-card,
.info-section{
    background:#020617;
    border:1px solid #1e293b;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.4);
    padding:20px;
}

/* TABLAS */

table{
    color:#e5e7eb;
}

thead{
    background:#141414;
}

/* FOOTER */

.footer-custom{
    background:#141414;
    border-top:1px solid #1e293b;
    color:#A0A0A0;
    padding:20px 0;
    margin-top:40px;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* LINKS DEL FOOTER */

.footer-right a{
    color:#00A67E;
    text-decoration:none;
}

.footer-right a:hover{
    color:#00d49f;
}

/* FOOTER SIEMPRE ABAJO */

html,body{
    height:100%;
}

body{
    display:flex;
    flex-direction:column;
}

main{
    flex:1;
}