html{
    height:100%;
    font-size:14px;
}

@media (min-width:768px){
    html{
        font-size:16px;
    }
}

body{
    min-height:100vh;
    display:grid;
    grid-template-rows:auto 1fr auto;
    background:#141414;
    color:#e5e7eb;
}

.navbar{
    background:#282828;
    border-bottom:1px solid #1e293b;
    padding:12px 0;
}

.navbar-brand img{
    filter:brightness(1.1);
}

.nav-btn{
    padding:8px 16px;
    border-radius:8px;
    transition:all .25s ease;
    color:#ffffff !important;
    font-weight:500;
}

.nav-link img{
    filter:brightness(0) invert(1);
}

.nav-btn:hover{
    background:#00A67E;
    color:white !important;
    transform:translateY(-2px);
}

.nav-btn:hover img{
    filter:brightness(0) invert(1);
}

.navbar-toggler{
    border:1px solid #1e293b;
    background:#020617;
}


.main-content{
    padding-top:30px;
    padding-bottom:30px;
}

.tabla-container,
.privacy-card,
.error-card,
.info-section{
    background:#020617;
    border:1px solid #1e293b;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.4);
    padding:20px;
}


table{
    color:#e5e7eb;
}

thead{
    background:#141414;
}

.footer-custom{
    background:#141414;
    border-top:1px solid #1e293b;
    color:#A0A0A0;
    padding:20px 0;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-right a{
    color:#00A67E;
    text-decoration:none;
}

.footer-right a:hover{
    color:#00d49f;
}