<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="importmap"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/gestion_bibliotecaria.styles.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
</head>

<body>

<header>

    <nav class="navbar navbar-expand-sm">

        <div class="container">

            <!-- LOGO -->
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="~/assets/images/whiiteLogoR.png"
                        height="60"
                        width="100"
                        class="me-2">
            </a>

            <!-- BOTON MOBILE -->
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse">

                <img src="~/assets/icons/menu_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg"
                        width="24">

            </button>

            <!-- MENU -->
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link nav-btn d-flex align-items-center gap-2" href="/">
                            <img src="~/assets/icons/home_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" width="20">
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-btn d-flex align-items-center gap-2" href="/Inventario">
                            <img src="~/assets/icons/inventory_2_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" width="20">
                            Inventario
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-btn d-flex align-items-center gap-2" href="/Libro">
                            <img src="~/assets/icons/library_books_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" width="20">
                            Libros
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-btn d-flex align-items-center gap-2" href="/Autor">
                            <img src="~/assets/icons/person_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" width="20">
                            Autores
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

</header>


<!-- CONTENIDO PRINCIPAL -->

<main class="container main-content">

    @RenderBody()

</main>


<!-- FOOTER -->

<footer class="footer-custom">

    <div class="container footer-content">

        <div class="footer-left">
            <img src="~/assets/images/whiiteLogoR.png"
                    height="60"
                    width="100">
        </div>

        <div class="footer-center">
            © 2026 StarBook Library
        </div>

        <div class="footer-right">
            <a href="/Privacy">Privacy</a>
        </div>

    </div>

</footer>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>